<%- include('../layouts/head.ejs') %> 

<%- include('../partials/admin-navbar.ejs') %> 

<section>
  <div class="table-responsive container mt-5">
      <div class="container">
        <!-- <div class="row mt-4">
            <a href="" class="btn btn-success">Add Product</a>
        </div> -->

        
          <table id="myTable" class="table mt-5">
            <thead>
              <tr>
                <th scope="col">Slno</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile Number</th>
                <!-- <th>Image</th> -->
                <th>Edit/Delete</th>
                
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i<users.length;i++) { %> 
              <tr>
                <th scope="row"><%= i+1  %> </th>
                

                <td><%= users[i].name %> </td>
                <td><%= users[i].email %></td>
                <td><%= users[i].mobile %> </td>
                <!-- <td><img style="width:50px;height:50px" src="" alt=""></td> -->
                <td>
                  <% if(users[i].blockStatus) { %>
                      <form action="/admin_panel/users/unblock?id=<%= users[i]._id %>" method="post">
                          <button class="btn btn-primary" onclick="return  confirm('Are you sure to unblock <%= users[i].name %>')">Unblock</button>
                      </form>
                  <% } else { %> 
                      <form action="/admin_panel/users/block?id=<%= users[i]._id %>" method="post">
                          <button class="btn btn-danger" onclick="return  confirm('Are you sure to block <%= users[i].name %>')">Block</button>
                      </form>
                  <% } %> 
                </td>
              </tr>
              <% }%>
              
            </tbody>
          </div>
        </table>
    </div> 
  </section>

<script>

    $(document).ready( function () {
      $('#myTable').DataTable();
    });
    
  </script>

<%- include('../layouts/foot.ejs') %> 

